@font-face {
  font-family: "OperatorMono";
  src: url("./OperatorMonoBook.eot");
  src: url("./OperatorMonoBook.eot") format("embedded-opentype"), url("./OperatorMonoBook.woff2") format("woff2"),
    url("./OperatorMonoBook.woff") format("woff"), url("./OperatorMonoBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OperatorMono";
  src: url("./OperatorMonoBookItalic.eot");
  src: url("./OperatorMonoBookItalic.eot") format("embedded-opentype"),
    url("./OperatorMonoBookItalic.woff2") format("woff2"), url("./OperatorMonoBookItalic.woff") format("woff"),
    url("./OperatorMonoBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OperatorMono";
  src: url("./OperatorMonoBold.eot");
  src: url("./OperatorMonoBold.eot") format("embedded-opentype"), url("./OperatorMonoBold.woff2") format("woff2"),
    url("./OperatorMonoBold.woff") format("woff"), url("./OperatorMonoBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OperatorMono";
  src: url("./OperatorMonoBoldItalic.eot");
  src: url("./OperatorMonoBoldItalic.eot") format("embedded-opentype"),
    url("./OperatorMonoBoldItalic.woff2") format("woff2"), url("./OperatorMonoBoldItalic.woff") format("woff"),
    url("./OperatorMonoBoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
