body {
  font-family: "OperatorMono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #193549;
  background-image: url(/images/bg-grid.webp), url(/images/bg-dust.webp);
  background-size: 1200px, 900px, 200px;
  background-position: 0 0, 100% 100%, 50%;
  background-attachment: fixed, scroll, scroll;
  color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OperatorMono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.3;
}
ol li,
ul li,
p {
  line-height: 1.5;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.cv {
  @media only print {
    padding: 0 1rem;
  }
  p,
  ul li,
  ol li {
    font-size: 0.875em;
  }
  .cv-photo {
    img {
      max-width: 200px;
      @media only print {
        max-width: 100px;
      }
    }
  }
}

.highlight {
  background: #f2ad0699;
}

img {
  &.img-grayscale {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

@media only print {
  .shadow {
    box-shadow: none !important;
  }
}

.img-thumbnail {
  background: none;
  border-color: var(--bs-primary);
  border-width: 2px;
}

.about-img {
  @media only screen and (max-width: 48em) {
    max-width: 120px;
  }
}

.w-md-50 {
  width: 50% !important;
  @media only screen and (max-width: 40em) {
    width: 100% !important;
  }
}

.logo {
  > div {
    display: block !important;
  }
}

#mainmenu {
  ul {
    li {
      a {
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          opacity: 0.5;
          background: transparent;
          position: absolute;
          bottom: -0.125em;
          left: 0;
          transition: all ease 0.6s;
          transition-delay: 1s;
        }
      }
    }
  }
}

#menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  z-index: 5;
  transform: translateX(60vw);
  opacity: 0;
  background: #15232dee url(/images/bg-dust.webp) center repeat;
  background-size: contain;
  padding: 1em;
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-mobile-overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header,
#footer {
  background: #15232dee url(/images/bg-dust.webp) center repeat;
  background-size: contain;
}
#header {
  padding: 0 25px;
  @media only screen and (max-width: 48em) {
    padding: 0;
  }
}

#app-container {
  &.is-ready {
    #hero {
      background: url(/images/bg-hero.svg) no-repeat right top;
      background-size: 66vmax auto;
      background-attachment: scroll;
    }
    #menu-mobile {
      transition: all ease 0.6s;
    }
    #mainmenu {
      ul {
        li {
          a {
            &:after {
              background: var(--bs-primary);
              height: 1px;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

.experience-menu {
  @media only screen and (max-width: 48em) {
    flex-wrap: nowrap;
    overflow: auto;
    button {
      border-width: 0 0 2px 0 !important;
      border-style: solid !important;
    }
  }
}

.side-elements {
  position: fixed;
  bottom: 0;
  &.left {
    left: 40px;
    width: 40px;
    z-index: 10;
  }
  &.right {
    right: 40px;
    width: 40px;
    z-index: 10;
  }
  .side-element-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 20px auto 0;
      background: var(--bs-primary);
    }
  }
  .email-link {
    a {
      letter-spacing: 1px;
      transition: all ease 0.3s;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      text-decoration: none;
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
  @media only screen and (max-width: 48em) {
    display: none;
  }
}

.social-list {
  li {
    display: block;
    transition: all ease 0.3s;
    &:hover {
      transform: translateY(-4px);
    }
    a {
      display: block;
      font-size: 1.5em;
      padding: 0.25rem;
    }
  }
}

a[target="_blank"] {
  cursor: ne-resize;
}

.social-footer {
  display: none;
  @media only screen and (max-width: 48em) {
    display: block;
  }
}

.workplace-content {
  h6 {
    @media only screen and (max-width: 40em) {
      font-size: 0.875em;
    }
  }
}

.vh-90 {
  min-height: 90vh;
  @media only screen and (max-width: 40em) {
    min-height: auto;
  }
}
